In [3]:
#!pip install yfinance

import yfinance as yf

# Create a Ticker object for Tesla
tesla = yf.Ticker("TSLA")

# Get historical market data for maximum period
tesla_data = tesla.history(period="max")

# Reset index and display the first 5 rows
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [7]:
import pandas as pd
from bs4 import BeautifulSoup

# Load saved HTML file
with open("tesla_revenue.html", "r", encoding="utf-8") as f:
    html_data = f.read()

soup = BeautifulSoup(html_data, "html.parser")

# Find Tesla Quarterly Revenue table
for table in soup.find_all("table"):
    if "Tesla Quarterly Revenue" in table.text:
        tesla_revenue = pd.read_html(str(table))[0]
        break

# Clean data
tesla_revenue.columns = ["Date", "Revenue"]
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(r"\$", "", regex=True)
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].str.replace(",", "", regex=False)
tesla_revenue = tesla_revenue.dropna()
tesla_revenue = tesla_revenue[tesla_revenue["Revenue"] != ""]
tesla_revenue["Revenue"] = tesla_revenue["Revenue"].astype(float)

tesla_revenue.head()

FileNotFoundError: [Errno 2] No such file or directory: 'tesla_revenue.html'

In [8]:
# Create a Ticker object for GameStop
gme = yf.Ticker("GME")

# Get historical data
gme_data = gme.history(period="max")

# Reset index
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666417,1.666417,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [9]:
# URL for GameStop revenue data
url = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"

html_data = requests.get(url).text
soup = BeautifulSoup(html_data, "html.parser")

# Find the correct table
tables = soup.find_all("table")
for table in tables:
    if "GameStop Quarterly Revenue" in str(table):
        gme_revenue = pd.read_html(str(table))[0]
        break

# Clean data
gme_revenue = gme_revenue.rename(columns={"GameStop Quarterly Revenue(Millions of US $)": "Date", "GameStop Quarterly Revenue(Millions of US $).1": "Revenue"})
gme_revenue["Revenue"] = gme_revenue["Revenue"].str.replace(r"\$", "").str.replace(",", "")
gme_revenue = gme_revenue.dropna()
gme_revenue = gme_revenue[gme_revenue["Revenue"] != ""]
gme_revenue.head()

NameError: name 'gme_revenue' is not defined

In [10]:
import plotly.graph_objects as go

def make_graph(stock_data, revenue_data, stock_name):
    fig = go.Figure()
    
    fig.add_trace(go.Scatter(
        x=stock_data['Date'],
        y=stock_data['Close'],
        name="Stock Price"
    ))
    
    fig.add_trace(go.Bar(
        x=revenue_data['Date'],
        y=revenue_data['Revenue'],
        name="Revenue"
    ))
    
    fig.update_layout(
        title=stock_name + " Stock Price & Revenue",
        xaxis_title="Date",
        yaxis_title="Price / Revenue (USD Millions)",
        barmode="group"
    )
    
    fig.show()

# Plot Tesla
make_graph(tesla_data, tesla_revenue, "Tesla")

TypeError: 'NoneType' object is not subscriptable

In [11]:
# Plot GameStop
make_graph(gme_data, gme_revenue, "GameStop")

NameError: name 'gme_revenue' is not defined